*{
  color: #444444 !important;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}
/*texto*/
h1{
    color: #141414 !important;  
}
h2{
font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  font-style: normal;
  height: 1.438em;
}
h3{
    color: #141414 !important;
}
h4{
    font-family: "IM Fell Great Primer SC", serif !important;
    font-weight: 400;
    font-style: normal;
    color: #141414 !important;
}

a{
   color: #141414 !important;
   text-decoration: none;
  
}
a:hover{
    color: #ffffff !important;
    transition: 0.2s;
}



/* FONTS */
.im-fell-double-pica-regular {
    font-family: "IM Fell Double Pica", serif !important;
    font-weight: 400;
    font-style: normal;
  }


.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}


/*COLORS */
.dark-gray{
    color: #141414 !important;   
}

.gradient-light-pink{
background: rgb(255,223,234);
background: linear-gradient(114deg, rgba(255,223,234,1) 0%, rgba(255,183,195,1) 100%);
}
.gradient-pink {
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
  }
  
  .parallax-effect {
    position: relative;
    animation: parallaxMove 5s infinite alternate;
  }
  
  @keyframes parallaxMove {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  
  
.gradient-pinkish{
    background: rgb(255,228,225);
    background: linear-gradient(6deg, rgba(255,228,225,1) 26%, rgba(255,244,243,1) 93%);

}
.gradient-dusk{
    background: rgb(255,203,164);
    background: linear-gradient(184deg, rgba(255,203,164,1) 48%, rgba(255,183,195,1) 68%);
}
/*logotipos*/
.logo {
    width: 5em;
    height: 2.25em;
}
.logo-intro{
    width: 18.75em;
}
.loguitos{
    width: 3.938em;
}
/*cards y animaciones*/

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: url('https://www.transparenttextures.com/patterns/corrugation.png');
    background-size: cover;
}


.card:hover {
    transform: translateY(-10px) rotate(-2deg);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}


.card::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
    filter: blur(5px);
    transform: rotate(2deg);
}


.card:hover {
    animation: float 0.3s ease-in-out;
}


@keyframes float {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-5px) rotate(-1deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
/*CARDS FOOTER */
.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: #fac393;
    -webkit-box-shadow: 1px 1px 12px #444444;
    box-shadow: 1px 1px 12px #444444 ;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #141414;
  }
  
  .cover {
    top: 0;
    position: absolute;
 background-color: #ffcba4;
 background-image: url('https://www.transparenttextures.com/patterns/corrugation.png');
 background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #444444 ;
    box-shadow: 1px 1px 12px #444444 ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
.social-links i:hover {
    color: #ffffff !important; 
    transition: 0.5ms;
    transform: scale(1.2);
}

.social-links i {
    margin: 0 0.625em;
}
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

.slide-up {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-up.visible {
    transform: translateY(0);
    opacity: 1;
}

.scale-up {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.scale-up.visible {
    transform: scale(1);
    opacity: 1;
}
